python-telegram-bot[webhooks,job-queue]==20.6
httpx>=0.25
psycopg2-binary==2.9.3  # or another stable version from available versions
pycryptodome
fastapi
uvicorn
python-multipart
reportlab
requests
textverified